    <form method = "GET"  action = "{% url 'search:query' %}" class="form-inline my-2 my-lg-0 search-form">
      <input class="form-control" type="search" placeholder="search" name = "q" aria-label="Search" value = "{% if request.GET.q %}{{request.GET.q}}{% endif %}">      <span class = "inpu-group-btn">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </span>
    </form>