                    {% if adress_qs.exists %}

                            <form method = "POST" action ="{{action_url}}">{% csrf_token %}
                                    <input type = "hidden" name = "next" value = "{{ next_url }}">

                                {% if address_type %}
                                    <input type = "hidden" name = "address_type" value = "{{ address_type }}">
                                {% endif %}
                                {% for adress in adress_qs %}
                                    
                                    <input type = "radio" name="shipping_adress" id = "adress_id_{{adress.id}}" value = "{{adress.id}}">
                                    
                                    <label for = "adress_id_{{adress.id}}">{{adress.adress_line_1}}</label>
                                    <br>
                                {% endfor %}
                                <button type = "submit" class = "btn btn-primary">Adres olarak kullan</button>
                            </form>
                    {% else %}
                    {% endif %}