{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as products_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url "carts:home" as cart_url %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{home_url}}">
    {% if brandname %}
        {{brandname}}
    {% else %}
    Ecommer
    {% endif %}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  {% if request.path == home_url %}active{% else %}{% endif %}">
        <a class="nav-link" href="{{home_url}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == contact_url %}active{% else %}{% endif %}">
        <a class="nav-link" href="{{contact_url}}">Contact</a>
      </li>
      <li class="nav-item {% if request.path == products_url %}active{% else %}{% endif %}">
        <a class="nav-link" href="{{products_url}}">Products</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item {% if request.path == logout_url %}active{% else %}{% endif %}">
            <a class="nav-link" href="{{logout_url}}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item {% if request.path == login_url %}active{% else %}{% endif %}">
            <a class="nav-link" href="{{login_url}}">Login</a>
        </li>
          <li class="nav-item {% if request.path == register_url %}active{% else %}{% endif %}">
            <a class="nav-link" href="{{register_url}}">Register</a>
        </li>
      {% endif %}
        <li class="nav-item {% if request.path == cart_url %}active{% else %}{% endif %}">
          <a class="nav-link" href="{{cart_url}}"><span class = "navbar-cart-count">{{request.session.cart_items}}</span> <i class = "fa fa-shopping-cart"></i> </a>
        </li>

    </ul>
    {% include "search/snippets/search-form.html" %}
  </div>
</nav>