<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "base/css.html" %}
    {% block base_head %}

    {% endblock base_head %}

    <title>Hello, world!</title>
  </head>
  <body>

    {% include 'base/navbar.html' with brandname="Ecommerce" %}
    {% block content %}{% endblock content %}


    {% include 'base/js.html' %}
    {% block javascript %}
    
    {% endblock javascript %}
  </body>
</html>
