{% extends 'base.html' %}
{% load static %}
{% block base_head %}
    <link rel = "stylesheet" href = "{% static 'css/main.css' %}" >
{% endblock base_head %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
            <h1>Hello, world!</h1>
          <h2>{{title}}</h2>
        </div>
        <div class="col-md-12">
            <img src="{% static 'img/DZ6k1NFXkAsaav8.jpg' %}" alt="" class="img-fluid">
            {{data}}
        </div>
      </div>
      {% if request.user.is_authenticated %}
        <div class="row">
          <div class="col">
              <h1>Premium: </h1>
              {{premium_content}}
        </div>
      </div>
      {% else %}
        No premium
      {% endif %}
      </div>
{% endblock content %}




