
{% block content %}
<div class = "container">
<form action="{% if action_url %}{{action_url}}{% else %}{% url 'login' %}{% endif %}" method="POST">{% csrf_token %}
        <input type = "hidden" name = "next" value = "{{ next_url }}">
        {{ form }}
    <button type="submit">Gönder</button>{% csrf_token %}
  </form>
</div>
{% endblock content %}
