{% extends "base.html" %}

{% block content %}


    {% if not billing_profile %}
        <div class = "row">
            <div class = "col-md-6 text-center">
                <p> Login </p>
                {% include 'accounts/snippets/login-form.html' with form=login_form next_url=request.build_absolute_uri %}
            </div>
            <div class = "col-md-6 text-center">
                <p> Continue as guest</p>
                {% url "guest_register" as guest_register_url %}
                {% include 'accounts/snippets/login-form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url%}
            </div>
        </div>
    {% else %}
        {% if not object.shipping_adress %}
            <div class = "row">
                <div class = "col-md-6 mx-auto">
                    <p class = "lead">Shipping adress</p>
                    <hr>
                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'adresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping'%}
                </div>
                <div class = "col-md-6">
                    {% url 'checkout_address_reuse' as checkout_address_reuse%}
                    {% include "adresses/prev_addresses.html" with adress_qs=adress_qs next_url=request.build_absolute_uri adress_type="shipping" action_url=checkout_address_reuse%}
                </div>
            </div>
        {% elif not object.billing_adress %}
                <div class = "row">
                    <div class = "col-md-6 mx-auto">
                        <p class = "lead">Billing adress</p>
                        <hr>
                {% url "checkout_address_create" as checkout_address_create %}
                {% include 'adresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing'%}
                    </div>
                    <div class = "col-md-6">
                        {% url 'checkout_address_reuse' as checkout_address_reuse%}
                        {% include "adresses/prev_addresses.html" with adress_qs=adress_qs next_url=request.build_absolute_uri adress_type="billing" action_url=checkout_address_reuse%}
                    </div>
                </div>
        {% else %}
            <h1>Finalize Checkout yap</h1>
            <p>Cart items: {% for product in object.cart.products.all %}{{product}} {%if not forloop.last%},{%endif%}{% endfor %}</p>
            <p>Shipping address: {{object.shipping_adress.get_adress}}   
            <p>Billing address: {{object.billing_adress.get_adress}}   
            <p>Cart total: {{object.cart.total}}</p>
            <p>Shipping total: {{object.shipping_total}}</p>
            <p>Order total: {{object.total}}</p>
            <form class = "form" action="" method = "POST">{% csrf_token %}
                <input type = "submit" class = "btn btn-success" value = "ödeme yap">
            </form>
        {% endif %}





    {% endif %}


{% endblock content %}