{% extends "base.html" %}

{% block content %}
    <div class = "col-md-6 mx-auto py-5 text-center">
        <h1 class = "display-1">Thank you for your order! xd</h1>
    </div>
{% endblock content %}