{% extends "base.html" %}

{% block content %}
<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
            <h1>Cart</h1>
            {% if cart.products.exists %}

            <table class="table cart-home">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ürün adı</th>
                    <th scope="col">Ürün fiyatı</th>
                    <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody class="cart-body">
                    {% for product in cart.products.all %}
                        <tr class="cart-products">
                            <th scope="row">{{forloop.counter}}</th>
                            <td> <a href = "{{product.get_absolute_url}}">{% if product.image %}
                                <img src = "{{product.image.url}}" style = "width:30px;">
                            {% else %}

                            {% endif %} {{product.name}}</a></td>
                            <td>{{product.price}}</td>
                            <td>
                                {% include "carts/snippets/remove-product.html" with product_id=product.id%}
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <div class = "cart-item-remove-form">
                {% include "carts/snippets/remove-product.html"%}
            </div>


            <div class = "col-md-12">
                Subtotal: <span class = "cart-subtotal"> {{cart.subtotal}} ₺</span><br>
                Toplam: <span class = "cart-total">{{cart.total}} ₺</span>
                <br>
                <a href = "{% url 'carts:checkout' %}" class = "btn btn-lg btn-success">ÖDEME YAP</a>
            </div>  
            {% else %}
                Kartınız boş <a class = "btn btn-link">Alışveriş yapın</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}