{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="col-10 col-md-6 mx-auto">
            <form  class="payment-form" action="/charge" method="post" id="payment-form" data-token="{{publish_key}}" data-next-url = "{% if next_url %}{{next_url}}{% endif %}">
                <div class="form-row">
                    <label for="card-element">
                    Credit or debit card
                    </label>
                    <div id="card-element" class="form-control">
                    <!-- A Stripe Element will be inserted here. -->
                    </div>
            
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
            
                <button class="btn btn-primary mt-3">Submit Payment</button>
                </form>
    </div>
        
</div>
    

    
{% endblock content %}

{% block javascript %}

<script>
    //https 

    var paymentForm = $(".payment-form");
    if(paymentForm.length > 1){
        alert("sadece 1 ödeme formu olması gerekir");
        paymentForm.css("display","none");
    }
    else if (paymentForm.length == 1){
        var pubKey = paymentForm.attr("data-token");
        var nextUrl = paymentForm.attr("data-next-url");


        var stripe = Stripe(pubKey);

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
            color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');


        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
            // Inform the customer that there was an error.
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
            } else {
            // Send the token to your server.
            stripeTokenHandler(nextUrl,result.token);
            }
        });
        });

        function stripeTokenHandler(nextUrl,token) {
            // Insert the token ID into the form so it gets submitted to the server
            /*var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();*/
            console.log(token.id);
            var paymentMethodEndpoint = "/billing/payment-method/create";
            var data = {
                "token":token.id
            }

            $.ajax({
                data: data,
                url: paymentMethodEndpoint,
                method: "POST",
                success: function(data){
                    console.log(data);
                    if(nextUrl){
                        window.location.href = nextUrl;
                    }else{
                        window.location.reload()
                    }
                },
                error: function(errordata){
                    console.log(errordata);
                }
            });



        }
}
    </script>
{% endblock javascript %}