{% extends "base.html" %}
{% block content %}<br>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6">
            Başlık: {{ object.title }}<br>
            {{"some title here"|title}}<br>
            {{object.timestamp|timesince}}<br>
            {{object.timestamp|date:"d.M.Y"}}<br>
            İçerik: {{ object.description|linebreaks }}<br>
            Fiyat: {{ object.price }}<br>   
            etikets: 
            {% for tag in tags %}
                {{tag.title}} &nbsp;
            {% endfor %}<br>

            {% if object.image %}
            <img src= "{{ object.image.url }}" class = "img-fluid">
                        {% else %}
            Bu ürünün fotoğrafı yok
            {% endif %}
        </div>

        <div class = "col-md-6">
            {% include "products/snippets/update-cart.html" with cart=cart in_cart=true%}
        </div>
    </div>
</div>

{% endblock content %}

