{% extends "base.html" %}

{% block content %}
<div class = "container">
   <div class = "row">



 {% for obj in object_list %}
     
   <div class = "col-md-3">
   {{forloop.counter}}
    {% include "products/snippets/card.html" with instance=obj %}
    {% cycle '<h2>Helloww</h2>' '' '' %}
    {% if forloop.counter|divisibleby:2 %}
      </div><div class ="row">
    {% else %}
    Bu 2. değil
    {% endif %}

    </div>

 {% endfor %}
    </div>
</div>
 {% endblock content %}