{% extends "base.html" %}
{% block content %}
<div class = "container">
<form action="" method="POST">{% csrf_token %}
        {{ form }}
    <button type="submit">Gönder</button>{% csrf_token %}
  </form>
</div>
{% endblock content %}
