{% extends "base.html" %}
{% block content %}
<form action="" method="POST">{% csrf_token %}
        {{ form }}
    <button type="submit">Gönder</button>{% csrf_token %}
  </form>
  {% endblock content %}