{% extends "base.html" %} 

{% block content %}
<div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
            <h1>Hello, world!</h1>
          <h2>{{title}}</h2>
        </div>
        <div class="col-md-12">
            {{data}}
            <div class="col-sm-6 text-center">
              <form class = "contact-form" action="{% url 'contact' %}" method="POST">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Gönder</button>{% csrf_token %}
              </form>
               
            </div>
        </div>
      </div>
    </div>

{% endblock content %}

    