    
    <form method = "POST"  class = "form-product-ajax" action = "{% url 'carts:update' %}" data-endpoint = "{% url 'carts:update' %}" class="form-inline my-2 my-lg-0">{% csrf_token %}

            <input class = "cart-product-id" type = "hidden" name = "product_id" value = "{{product.id}}">
            <button type = "submit" class = "btn btn-link">Remove?</button>
    </form>