{% extends "base.html" %}

{% block content %}
<div class = "container">
    <div class = "col-md-12"> 
        {% if request.GET.q %}
            Result for: {{request.GET.q}}
        {% else %}

        {% endif %}
                    <div class = "col-12 col-md-8 mx-auto mt-5">
                {% include "search/snippets/search-form.html" %}

            </div>
        
    </div>
    <hr>
   <div class = "row">



 {% for obj in object_list %}
     
   <div class = "col-md-3">
   {{forloop.counter}}
    {% include "products/snippets/card.html" with instance=obj %}
    </div>

 {% endfor %}
    </div>
</div>
 {% endblock content %}