<div class="card" style="width: 18rem;">
  {% if instance.image %}
    <img class="card-img-top" src="{{instance.image.url}}" alt="Card image cap">
  {% else %}
    <img class="card-img-top" src="/media/default-thumbnail.jpg" alt="Card image cap">
  {% endif %} 
  <div class="card-body">
    <a href = "{% url 'products:detail' slug=instance.slug %}"><h5 class="card-title">{{ instance.title }}</h5></a>
    <p class="card-text">{{instance.description|linebreaks|truncatewords:12}}</p>
    <a class = "button button-primary" href = "{{instance.get_absolute_url}}">View</a>
    {% include "products/snippets/update-cart.html" with cart=cart product=instance%}
  </div>
</div>