    
    <form method = "POST"  class = "form-product-ajax" action = "{% url 'carts:update' %}" data-endpoint = "{% url 'carts:update' %}" class="form-inline my-2 my-lg-0">{% csrf_token %}

            <input type = "hidden" name = "product_id" value = "{{product.id}}">

           
                <span class = "submit-span">
                {% if object in cart.products.all %}
                    in  cart <button type = "submit" class = "btn btn-link">Remove?</button>
                {% else %}
                    <button type = "submit" class = "btn btn-success">Add to cart</button>
                    
                {% endif %}
                </span>
    </form>